:root {
    --color-fondo-principal: #F5EBE0;
    --color-texto-fondo: #2C1B17;
    --color-borde-hamburguesa: #94726b;
    --color-texto-fondo-rgb: 44, 27, 23;
    --color-primario: #E76F51;
    --color-secundario: #2A9D8F;
    --color-tarjetas-contenedores: #FFFFFF;
    --color-fondo-gradiante: rgba(143, 95, 59, 1);
    --color-fondo-gradiante-dorado: rgba(254, 208, 127, 1);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.titulo-menu {
    background: var(--color-borde-hamburguesa);
    color: var(--color-fondo-principal);
}
.tabla-carta {
    margin: auto;
    max-width: 500px;
    width: 95%;
    border: 3px solid var(--color-borde-hamburguesa);
    border-collapse: collapse;
}
th, td {
    border: 3px solid var(--color-borde-hamburguesa);
    padding: 5px;
}
.fila-categoria {
    background-color: var(--color-fondo-principal);
    color: var(--color-texto-fondo);
}
.footer-tabla {
    text-align: center;
    background-color: var(--color-borde-hamburguesa);
    color: var(--color-fondo-principal);
}
