
:root {
    --color-fondo-principal: #F5EBE0;
    --color-texto-fondo: #2C1B17;
    --color-borde-hamburguesa: #94726b;
    --color-texto-fondo-rgb: 44, 27, 23;
    --color-primario: #E76F51;
    --color-secundario: #2A9D8F;
    --color-tarjetas-contenedores: #FFFFFF;
    --color-fondo-gradiante: rgba(143, 95, 59, 1);
    --color-fondo-gradiante-dorado: rgba(254, 208, 127, 1);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  padding-bottom: 90px;
  background: linear-gradient(145deg, rgba(143, 95, 59, 0.5) 22%, rgba(254, 208, 127, 0.5) 71%);
}
a {
    text-decoration: none;
    color: inherit;
}
header {
  width: 100%;
  background: linear-gradient(145deg, rgba(143, 95, 59, 1) 22%, rgba(254, 208, 127, 1) 71%);
}
 /* Menu navegacion */
 .inicio-menu-navegacion {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
 }
 .logo {
    display: flex;
    width: 70px;
    height: 70px;
    max-width: 90px;
    max-height: 90px;
    justify-content: center;
    align-items: center;
    margin: 7px;
    transform: translateY(20px);
 }
 .mensaje-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    transform: translateY(55px);
 }
.bienvenidos {
    font-family: "Black Ops One", system-ui;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.parte-derecha-menu {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 14px;
    padding: 20px;
    margin: 5px;
}
.secciones-menu {
    display: none;
    width: 100%;
    height: 100%;
}
.secciones-menu-activado {
    display: flex;
    position: absolute;
    top: 100%;
    right: -7%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    list-style: none;
    background: rgba(var(--color-texto-fondo-rgb), 1.0);
    color: var(--color-fondo-principal);
    border: 3px solid var(--color-borde-hamburguesa);
    border-radius: 5px;
    max-width: 250px;
    max-height: 250px;
    font-family: 'Fira Sans', sans-serif;
    animation: menuHamburguesa 0.3s;
    z-index: 5;
}
@keyframes menuHamburguesa {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);  
    }
}
.menu-hamburguesa {
    display: flex;
    max-width: 100px;
    justify-content: center;
    background: none;
    border: none;
}
.icono-carrito {
    display: flex;
    max-width: 70px;
    justify-content: center;
}
/* Secciones del body */
.agrupar-secciones {
  display: flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.secciones-fila-medio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}
/* Seccion Quienes Somos */
.texto-explicativo-quienes-somos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:justify;
  margin: 5px;
  padding: 8px;
  max-width: 350px;
  width: 100%;
  background: #F5EBE0;
  border: 4px solid var(--color-borde-hamburguesa);
  border-radius: 4px;
}
.ir-adopcion {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background: var(--color-borde-hamburguesa);
  color: var(--color-fondo-principal);
  font-size: 15px;
}
/* Seccion tienda */
.texto-tienda {
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  text-align:left;
  margin: 5px;
  padding: 8px;
  max-width: 350px;
  width: 100%;
  background: var(--color-borde-hamburguesa);
  border: 4px solid var(--color-fondo-principal);
  color: var(--color-fondo-principal);
  border-radius: 4px;
  gap: 20px;
}
.ir-tienda {
  display: flex;
  width: 60%;
  justify-content: center;
  color: var(--color-borde-hamburguesa);
  background: var(--color-fondo-principal);
  font-size: 15px;
}
.ver-carta {
  display: flex;
  width: 60%;
  justify-content: center;
  color: var(--color-borde-hamburguesa);
  background: var(--color-fondo-principal);
  font-size: 15px;
}
/* Seccion adopcion */
.texto-explicativo-adopcion {
  display: flex;
  flex-direction: column;
  text-align:left;
  margin: 5px;
  padding: 8px;
  max-width: 350px;
  width: 100%;
  background: #F5EBE0;
  border: 3px solid var(--color-borde-hamburguesa);
  border-radius: 4px;
}
/* Seccion actividades */
.texto-explicativo-actividades {
  display: flex;
  flex-direction: column;
  text-align:left;
  margin: 5px;
  padding: 8px;
  max-width: 350px;
  width: 100%;
  background: #F5EBE0;
  border: 3px solid var(--color-borde-hamburguesa);
  border-radius: 4px;
  gap: 10px;
}
.ir-actividades {
  display: flex;
  justify-content: center;
  background: var(--color-borde-hamburguesa);
  color: var(--color-fondo-principal);
  width: 50%;
  font-size: 15px;
}
/* Seccion contacto */
.texto-explicativo-contacto {
  display: flex;
  flex-direction: column;
  text-align:left;
  margin: 5px;
  padding: 8px;
  max-width: 350px;
  width: 100%;
  background: var(--color-borde-hamburguesa);
  border: 3px solid var(--color-fondo-principal);
  color: var(--color-fondo-principal);
  border-radius: 4px;
  gap: 10px;
}
.ir-contacto {
  display: flex;
  width: 40%;
  justify-content:space-around;
  background: var(--color-fondo-principal);
  color: var(--color-borde-hamburguesa);
  font-size: 15px;
}
/* Nav bar */
.nav-bar {
  display: flex;
  justify-content: center;
}
.nav-bar ul {
  display: flex;
  padding: 15px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0px;
  border-radius: 15px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--color-fondo-principal);
  border: 3px solid var(--color-borde-hamburguesa);
  max-width: 390px;
  height:75px ;
  width: 90%;
  gap: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5); 
  z-index: 1000;
}
.lista-nav-bar {
  display: flex;
  list-style: none;
  flex-direction: row;
}
.nav-bar a {
  display: flex;
  justify-content: center;
  border-radius: 100%;
  width: 50px;
  padding: 8px;

}
.nav-bar a:hover  {
  transform: translateY(-20px);
  background-color: #E8A07C;
  border: 4px solid;
}
/* Footer */
footer hr {
  background-color: #2A9D8F;
  width: 100vw;
  margin: 0%;
  padding: 0%;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Merriweather", serif;
  font-size: 12px;
  background-color: #7c7c7c;
  width: 100%;
  margin: 3px;
  padding: 12px;
  gap: 10px;
}
.logo-eslogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.foto-logo-footer {
  display: flex;
  justify-content: center;
  width: 70px;
}
footer img {
  width: 20px;
}
.parte-abajo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
  gap: 10px;
}
.contacto-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px;
  gap: 10px;
}
.redes-sociales {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px;
  gap: 10px;
}