* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-fondo-principal: #F5EBE0;
    --color-texto-fondo: #2C1B17;
    --color-borde-hamburguesa: #94726b;
    --color-texto-fondo-rgb: 44, 27, 23;
    --color-primario: #E76F51;
    --color-secundario: #2A9D8F;
    --color-tarjetas-contenedores: #FFFFFF;
}
html {
    scroll-behavior: smooth;
}
body {
    line-height: 1.6;
    background-color: var(--color-fondo-principal);
}
a {
    text-decoration: none;
    color: inherit;
}
header {
    position: absolute;
}
 /* Menu navegacion */
 .inicio-menu-navegacion {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
 }
 .logo {
    display: flex;
    width: 70px;
    height: 70px;
    max-width: 90px;
    max-height: 90px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transform: translateY(14px);
 }
 .mensaje-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 5px;
    transform: translateY(42px);
 }
.bienvenidos {
    font-family: "Black Ops One", system-ui;
    justify-content: center;
    align-items: center;
}
.parte-derecha-menu {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 14px;
    padding: 20px;
    margin: 5px;
}
.secciones-menu {
    display: none;
    width: 100%;
    height: 100%;
}
.secciones-menu-activado {
    display: flex;
    position: absolute;
    top: 100%;
    right: -7%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    list-style: none;
    background: rgba(var(--color-texto-fondo-rgb), 0.9);
    color: var(--color-fondo-principal);
    border: 3px solid var(--color-borde-hamburguesa);
    border-radius: 5px;
    max-width: 250px;
    max-height: 250px;
    font-family: 'Fira Sans', sans-serif;
    animation: menuHamburguesa 0.3s;
}
@keyframes menuHamburguesa {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);  
    }
}
.menu-hamburguesa {
    display: flex;
    max-width: 100px;
    justify-content: center;
    background: none;
    border: none;
}
.icono-carrito {
    display: flex;
    max-width: 70px;
    justify-content: center;
}
/* Responsividad */
/* Tablets y pantallas pequeñas (portátiles pequeños) */
@media (min-width: 768px) {
  /* Estilos para tablets */
  header {
    position: static;
  }
  .inicio-menu-navegacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .parte-central-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
    padding-bottom: 1rem;
  }
  .mensaje-menu {
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 25px;
  }
  .menu-hamburguesa {
    display: none;
  }
  .secciones-menu,
  .secciones-menu-activado {
    display: flex;
    position: static;
    background: transparent;
    border: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    height: auto;
    width: auto;
    font-size: 17px;
    gap: 24px;
    font-family: 'Fira Sans', sans-serif;
  }
  .logo {
    display: flex;
    width: 120px;
    height: 120px;
    max-width: 120px;
    max-height: 120px;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .icono-carrito {
    display: flex;
    max-height: 200px;
    max-width: 200px;
    height: 30px;
    width: 30px;
    justify-content: flex-end;
    margin: 10px;
    align-items: center;
  }
  .flechas {
    display: none;
  }
}

/* Portátiles y pantallas medianas (laptops) */
@media (min-width: 992px) {
  /* Estilos para portátiles */
}

/* Ordenadores de escritorio y pantallas grandes */
@media (min-width: 1200px) {
  /* Estilos para escritorio */
}   